@charset "UTF-8";

/* リセット開始(ブラウザのデフォルトをあてにしない) */
* {
  margin             : 0;
  padding            : 0;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -o-box-sizing      : border-box;
  -ms-box-sizing     : border-box;
  box-sizing         : border-box;
}

h1,h2,h3,h4,h5,h6,p { margin-bottom : 6pt; }
ol,ul,dl { list-style-position : inside; }
/* リセット完了 */

/* 標準セレクタ開始 */
body {
  font   : 10pt 'Trebuchet MS', Verdana, Helvetica, Arial, Meiryo, sans-serif;
  color  : #444;
  background: #fff;
}

a { text-decoration : none; }
a:link, a:visited { color : inherit; }
a:hover { text-decoration: underline; }

strong {
  font-weight    : 800;
  color          : #000;
}
/* 標準セレクタ終了 */

/*
 * aburatsuboat
 */

.aburatsubo-container {
  position           : absolute;
  left               : 1em;
  width              : 800px;
  min-width          : 800px;
  height             : 500px;
  border             : thin solid #888;
  background         : #fff;
  overflow           : hidden;
}

.ab-map-landmark {
  fill               : #ccc;
  stroke             : #333;
  stroke-width       : 1.0px;
}

.ab-map-landname {
  font-family        : 'Trebuchet MS', Verdana, Helvetica, Arial, Meiryo, sans-serif;
  font-size          : 10px;
  color              : #444;
}

.ab-compass-layer text {
  text-anchor        : middle;
  fill               : #999;
  font-family        : 'Trebuchet MS', Verdana, Helvetica, Arial, Meiryo, sans-serif;
  font-size          : 10px;
}

.ab-compass-layer circle{
  fill               : white;
  fill-opacity       : 0.5;
  stroke             : grey;
  stroke-opacity     : 0.2;
}

.ab-compass-layer line {
  stroke             : grey;
}

/* aburatsuboat.tideChart.js */

.ab-tidechart-area {
  fill: steelblue;
  opacity: 0.5;
}

.ab-tidechart-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.ab-tidechart-timeline {
  fill: none;
  stroke: gray;
  stroke-width: 1.0px;
  shape-rendering: crispEdges;
}

.ab-tidechart-tcircle {
  fill: blue;
  stroke: white;
  stroke-width: 1.0px;
}

.x-axis-text,
.y-axis-text {
  font-family       : sans-serif;
  font-size         : 10px;
  text-anchor       : end;
}

.grid line,
.x-grid line,
.y-grid line {
  stroke: grey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.grid path,
.x-grid path,
.y-grid path {
  stroke: grey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}
