.slider-ticks {
  font: 12px sans-serif;
}

.slider-track,
.slider-track-inset,
.slider-track-overlay {
  stroke-linecap: round;
}

.slider-track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.slider-track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.slider-track-overlay {
  stroke: none;
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.slider-handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
